<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="EPPlus" version="5.7.2" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net452" />
  <package id="RestSharp" version="106.15.0" targetFramework="net452" />
  <package id="SharpKml.Core" version="5.2.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net452" />
</packages>